*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
}
.loader {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 200px;
  font-size: 50px;
  padding: 30%;
  color: white;
}
#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: green;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 20px 40px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 30px;
  font-size: 20px;
}

.noResult {
  color: white;
  text-align: center;
  margin-top: 50px;
}
#home-page,
#favorites-page {
  min-height: 100vh;
  background-color: black;
  background-image: url('/marvel.png');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 45%;
  background-attachment: fixed;
}
a {
  text-decoration: none;
}
.page-title {
  text-align: center;
  margin: 50px 10px;
  font-size: 35px;
  color: white;
}
header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px 10px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 0, 0);
  a {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: all 0.2s linear;
    &:hover {
      border-bottom: 3px solid white;
      color: white;
      transform: scale(1.1);
      transform: translateY(-5px);
    }
  }
}
.search {
  width: 80%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 30px;
  padding-right: 50px;
  border-radius: 70px;
  overflow: hidden;
  input {
    width: 100%;
    padding: 20px 10px;
    font-size: 30px;
  }
  img {
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.2);
    }
  }
}
#listItems,
#favoritesList {
  width: 80%;
  margin: 10px auto;
  .card {
    background-color: rgb(255, 255, 255);
    margin: 20px 0;
    border-radius: 5px;
    display: flex;
    // box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    cursor: pointer;
    .heroImage {
      min-width: 200px;
      height: 100px;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      img {
        transition: all 0.2s linear;
        width: 200px;
        background-position: center;
        // height: 100px;
        background-size: cover;
      }
    }
    .about {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 10px;
      width: 100%;
      p {
        padding: 5px 10px;
        font-size: 20px;
        font-weight: 'bold';
        font-family: Arial, Helvetica, sans-serif;
      }
      .heroName {
        font-size: 30px;
        color: blue;
      }
      button {
        margin-left: auto;
        padding: 10px 20px;
        min-width: 270px;
        box-shadow: 1px 2px 20px 1px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        background-color: red;
        font-weight: bold;
        color: white;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          transform: scale(1.05);
        }
      }
      .fav-active {
        background-color: white;
        border: 1px solid;
        color: red;
      }
    }
  }
}
#superhero-details {
  background-color: rgb(0, 0, 0);
  min-height: 87vh;
  .content {
    display: flex;
    padding: 10px;
  }
  .bgImg {
    width: 50%;
  }
  h1 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
  }
  p {
    color: white;
    padding: 0 10px 10px 20px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: fantasy;
  }
}
